header {
    height: 4.75rem;
    width: 100vw;
    background-color: var(--grey-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

header .header__container {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .header__container > h1 {
    font-size: 1.25rem;
    color: var(--white-fixed);
}

header .header__container > button {
    background-color: transparent;
    border: none;
    color: var(--white-fixed);
    cursor: pointer;
    font-size: 0.875rem;
}

header .header__container > button:hover {
    text-decoration: underline;
}

main {
    width: 100vw;
    height: 100vh;
    margin-top: 7rem;
}

main .main__container {
    margin: 1.5rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


.main__section--form-and-users {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50%;
    width: 100%;
}

.main__section--form-and-users .form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.main__section--form-and-users .form__container .form__user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.main__section--form-and-users .form__container .form__user .form__user--name > h2 {
    font-size: 1.25rem;
    color: (--brand-color-1);
}

.main__section--form-and-users .form__container .form__user .form__user--name > p {
    font-size: 0.875rem;
    color: (--grey-color-2);
}

.main__section--form-and-users .form__container > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 44.563rem;
    max-width: 90%;
}

.main__section--form-and-users .form__container > form > input {
    box-sizing: border-box;
    border-radius: var(--border-radius-default);
    border: 2px solid var(--grey-color-4);
    font-size: 1rem;
    color: var(--grey-opacity-1);
    padding: 1rem 1.25rem;
    width: 44.563rem;
    height: 3.25rem;
    max-width: 100%;
}

.main__section--form-and-users .form__container > form > input:focus {
    border: 2px solid var(--brand-color-1);
    outline: none;
    color: var(--grey-color-2);
}

.main__section--form-and-users .form__container > form > textarea {
    box-sizing: border-box;
    border-radius: var(--border-radius-default);
    border: 2px solid var(--grey-color-4);
    font-size: 1rem;
    color: var(--grey-opacity-1);
    padding: 1rem 1.25rem;
    width: 44.563rem;
    height: 8.125rem;
    max-width: 100%;
}

.main__section--form-and-users .form__container > form > textarea:focus {
    border: 2px solid var(--brand-color-1);
    outline: none;
    color: var(--grey-color-2);
}

.main__section--form-and-users .form__container > form > button {
    align-self: flex-end;
    box-sizing: border-box;
    width: 4.313rem;
    height: 2.375rem;
    padding: 0 0.75rem;
    cursor: pointer;
    background-color: var(--brand-color-1);
    border: 2px solid var(--brand-color-1);
    border-radius: var(--border-radius-default);
    color: var(--white-fixed);
    font-weight: 600;
    font-size: 0.875rem;
}

.main__section--form-and-users .form__container > form > button:hover {
    background-color: var(--brand-color-2);
}

.main__section--form-and-users .users__container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 90%;
}

.main__section--form-and-users .users__container > h2 {
    color: var(--grey-color-1);
    font-size: 1.25rem;
}

.main__section--form-and-users .users__container > ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 2.5rem;
    width: 100%;
}

.main__section--form-and-users .users__container > ul li {
    min-width: 14.5rem;
    width: 14.5rem;
    height: 11.375;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__section--form-and-users .users__container > ul li .users__items {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}

.main__section--form-and-users .users__container > ul li .users__items .users__name > h2 {
    font-size: 1.25rem;
    color: var(--grey-color-1);
}

.main__section--form-and-users .users__container > ul li .users__items .users__name > p {
    font-size: 0.875rem;
    color: var(--grey-color-2);
}

.main__section--form-and-users .users__container > ul li button {
    padding: 0 0.75rem;
    width: 4.25rem;
    height: 1.75rem;
    background: transparent;
    border: 1px solid var(--grey-color-1);
    border-radius: 2px;
    color: var(--grey-color-1);
    font-size: 0.8757rem;
    font-weight: 600;
    cursor: pointer;
}

.main__section--form-and-users .users__container > ul li .change-follow-button {
    width: 5.563rem;
    background-color: var(--brand-color-1);
    color: var(--white-fixed);
}

.main__section--form-and-users .users__container > ul li .change-follow-button:hover {
    background-color: var(--brand-color-1);
    color: var(--white-fixed);
}

.main__section--form-and-users .users__container > ul li button:hover {
    background-color: #EDF2FF;
    border: 1px solid var(--brand-color-1);
    color: var(--brand-color-1);
}


.posts__container {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    margin-bottom: 2rem;
}

.posts__container > h2 {
    font-size: 1.75rem;
    color: var(--grey-color-1);
}

.posts__container > ul {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    max-width: 44.563rem;
    width: 90%;
}

.posts__container > ul li {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.posts__container > ul li .posts__users {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.posts__container > ul li .posts__users .posts__users--name h2 {
    font-size: 1.25rem;
    color: var(--grey-color-1);
}

.posts__container > ul li .posts__users .posts__users--name p {
    font-size: 0.875rem;
    color: var(--grey-color-2);
}

.posts__container > ul li > h2 {
    font-size: 1.75rem;
    color: var(--grey-color-1);
}

.posts__container > ul li > p {
    font-size: 1rem;
    color: var(--grey-color-2);
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.posts__container > ul li .posts__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.posts__container > ul li .posts__buttons > button {
    box-sizing: border-box;
    padding: 0 0.75rem;
    width: 5.75rem;
    height: 2.375rem;
    border-radius: var(--border-radius-default);
    background-color: var(--grey-color-1);
    border: 2px solid var(--grey-color-1);
    color: var(--white-fixed);
    cursor: pointer;
}

.posts__container > ul li .posts__buttons > button:hover {
    background-color: var(--grey-color-0);
}

.posts__container > ul li .posts__buttons .heart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.438rem;
    width: 40%;
    height: 100%;
}

.posts__container > ul li .posts__buttons .heart-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 1.423rem;
    height: 1.25rem;
}

.posts__container > ul li .posts__buttons .heart-button > button img {
    width: 1.423rem;
    height: 1.25rem;
}

.posts__container > ul li .posts__buttons .heart-button > span {
    font-size: 0.875rem;
    color: var(--grey-color-2);
}

.modal_container {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 47.563rem;
    max-width: 85%;
    height: 34rem;
    margin-top: 4rem;
}

.modal_container .modal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding: 2.5rem 1.3rem;
}

.modal_container .modal .modal__button {
    position: absolute;
    top: 0.75rem;
    left: 88%;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.75rem;
    color: var(--grey-color-3);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.modal_container .modal .modal__button:hover {
    background-color: var(--grey-color-5);
}

.modal_container .modal .posts__users {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.modal_container .modal .posts__users .posts__users--name h2 {
    font-size: 1.25rem;
    color: var(--grey-color-1);
}

.modal_container .modal .posts__users .posts__users--name p {
    font-size: 0.875rem;
    color: var(--grey-color-2);
}

.modal_container .modal > h2 {
    font-size: 1.75rem;
    color: var(--grey-color-1);
}

.modal_container .modal > p {
    font-size: 1rem;
    color: var(--grey-color-2);
    text-align: justify;
}

.modal_container::backdrop {
    background-color: rgba(33, 37, 41, 0.5);;
}

.modal_container {
    animation: animateModal 1s;
}

@keyframes animateModal {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}